p {
  margin: 0;
}

.donate-container-section {
  max-height: 300px;
}

.donate-background {
  background: #198754;
  height: 100px;
}

.search-input {
  position: relative;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-input input {
  /* width: 40%; */
  width: 500px;
}

.donate-container-section {
  border: 1px solid #eeeeee;
  display: flex;
  margin: 30px 15px;
}

.description {
  max-height: 70%;
  height: 100%;
  overflow: auto;
}

.ong-first-section {
  margin: 30px 0 30px 30px;
}

.ong-section-bottom {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  align-items: center;
}

.donates {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.ong-second-section {
  max-width: 400px;
  max-height: 300px;
  margin: 30px;
  min-width: 250px;
}

#btn-donate a.btn-success {
  width: 100px;
}

.ong-second-section img {
  width: 100%;
  height: 100%;
}

.grid-template-columns {
  display: grid;
  grid-template-columns: 50% 50%;
}
